{% extends "template.html" %}

{% block title %}{{ board.name }}{% endblock %}

{% block main_content %}
    <div class="board-title-bar">
        <div class="title-section">
            <h1 class="title">{{ board.name }} </h1>
            <button id="star-board">&#9734</button>
        </div>
        <div class="options-section">
            <div class="dropdown">
                <button class="board-actions">&#8801;</button>
                <div class="dropdown-content">
                    <a href="#">Rename Board</a>
                    <a href="#">Delete Board</a>
                </div>
            </div>
        </div>
    </div>

    <div class="Lists" style="background: {% if board.wallpaper %}url('{{ url_for('static', filename='assets/images/' + board.wallpaper) }}') no-repeat center center fixed; background-size: cover;{% else %} #caaa3c;{% endif %}">
        <div class="add-list">
        <button class="show-add-form">&#65291; Add a List</button>
            <div class="add-list-form hidden">
                <input type="text" class="title" placeholder="Enter List Title">
                <div class="button-group">
                    <button class="add-list-button" id="add-list-button">Add List</button>
                    <button class="cancel-button">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}