{% extends "template.html" %}

{% block title %}{{ board.name }}{% endblock %}

{% block main_content %}
    <div class="board-title-bar">
        <div class="title-section">
            <h1 class="title" id="board-title-{{ board.id }}">{{ board.name }} </h1>
            <button id="star-board">&#9734</button>
        </div>

        <div class="options-section">
            <div class="dropdown">
                <button class="board-actions">&#8801;</button>
                <div class="dropdown-content">
                    <a href="#" class="rename-board"
                       data-board-id="{{ board.id }}"
                       data-board-name="{{ board.name }}">Rename Board</a>
                    <a href="#" class="delete-board"
                       data-board-id="{{ board.id }}">Delete Board</a>
                </div>
            </div>
        </div>
    </div>

    <div class="Lists" style="background: {% if board.wallpaper %}url('{{ url_for('static', filename='assets/images/' + board.wallpaper) }}') no-repeat center center fixed; background-size: cover;{% else %} #caaa3c;{% endif %}">
        <div class="create-new-list">
            <button class="show-add-form">Create new List</button>

            <div class="add-list-form hidden">
                <form method="POST" action="{{ url_for('board', board_id=board.id) }}">
                    <input type="text" name="list_title" class="title" placeholder="Enter List Title" required>
                    <div class="button-group">
                        <button class="add-list-button" type="submit">Add List</button>
                        <button class="cancel-button" id="cancel-list-button" type="reset">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}