<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Template{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/template.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/components.css')}}">
<!--    for icons used-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <header>
        <nav>
            {% block navigation_bar %}
            <div class="logo">
                <img src="{{url_for('static', filename='assets/images/logo_icon.png')}}" alt="logo">
                <h1 class="logo-text"> ASCEND </h1>
            </div>
            {% endblock %}
        </nav>
    </header>

    <main>
        {% block sidebar %}
        <div class="sidebar">
            <div class="sidebar-heading">
                <a href="{{ url_for('workspace') }}">Your Workspace</a>
            </div>

            <div class="sidebar-content">
                <div class="sidebar-boards">
                    {% block sidebar_boards %}
                        {% if boards %}
                            {% for board in boards %}
                            <a href="{{ url_for('board', board_id=board.id) }}">
                            <div class="link">
                                {{ board.name }}
                            </div>
                            </a>
                            {% endfor %}
                        {% else %}
                            <p>No boards available.</p>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% endblock %}

        <div class="main-content">
            {% block main_content %}
            <!-- Main-content of individual page goes here -->
            {% endblock %}
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static', filename='scripts/template.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/components.js')}}"></script>
</body>

</html>
