<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Template{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/aadya-styles.css')}}">

</head>

<body>
    <header>
        <nav>
            {% block navigation_bar %}
            <div class="logo">
                <img src="{{url_for('static', filename='assets/images/logo_icon.png')}}" alt="logo">
                <img src="{{url_for('static', filename='assets/images/logo_text.png')}}" alt="">
            </div>

            <div class="navbar-links">
                <ul class="nav">
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Services</a>
                        <div class="dropdown-content">
                            <a href="#">Venue Recommendations</a>
                            <a href="#">Vendor Recommendations</a>
                            <a href="#">Guest List Manager</a>
                            <a href="#">Task Manager</a>
                            <a href="#">Decoration Ideas</a>
                        </div>
                    </li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            {% endblock %}
        </nav>
    </header>

    <main>
        <div class="sidebar">
            {% block sidebar %}
            <div class="sidebar-heading">
                <a href="#">Your Workspace</a>
            </div>

            <div class="sidebar-content">
                <div class="sidebar-features">
                    <div class="link"><a href="#">Venue Recommendations</a></div>
                    <div class="link"><a href="#">Vendor Recommendations</a></div>
                    <div class="link"><a href="#">Theme Decoration Ideas</a></div>
                    <div class="link"><a href="#">Guest List Manager</a></div>
                    <div class="link"><a href="#">Calendar</a></div>
                </div>

                <div class="sidebar-boards">
                    <h2>Your Boards</h2>
                    {% block sidebar_boards %}
                        {% if boards %}
                            {% for board in boards %}
                            <div class="link">
                                <a href="{{ url_for('board', board_id=board.id) }}">{{ board.name }}</a>
                            </div>
                            {% endfor %}
                        {% else %}
                            <p>No boards available.</p>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>

        <div class="main-content">
            {% block main_content %}
            <!-- Main-content of individual page goes here -->
            {% endblock %}
        </div>
    </main>

    <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/aadya-script.js')}}"></script>
</body>

</html>
