:root {
    --font-inter: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    --font-alice: 'Alice', Georgia, serif;

    --main-font: var(--font-alice);

    /* Header height variable */
    --header-height: 10vh;
}

/* Apply universally */
* {
    font-family: var(--main-font), serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

/*The whole body is divided into two parts :
1. The header tag
2. The main tag */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    box-sizing: border-box;
    background-color: #012b29;
    padding: 1vh;
    z-index: 999;
    border-bottom: 1px solid white;
}

/* The Header tag -> the nav tag -> navigation bar */
nav {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #012b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh;
}

.logo {
    height: 4.75vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 100%;
    width: auto;
}

.logo-text{
    color: #caaa3c;
    font-weight: 100;
    font-size: 5vh;
}

/*---------------------------------------------------------------------------*/
/* The main tag is further divided into 2 parts:
1. The sidebar
2. The main-content */
main{
    width: 100%;
    height: calc(100vh - var(--header-height));
    box-sizing: border-box;
    position: fixed;
    top: var(--header-height);
    display: flex;
    flex-direction: row;
}

/* The sidebar has 2 parts:
1. sidebar-heading
2. sidebar-content (All Feature Links and all Boards) */
.sidebar {
    width: 17vw;
    height: 100%;
    background-color: #012b29;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    padding: 1vh;
    box-sizing: border-box;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.sidebar-heading {
    padding: 2vh;
    border-bottom: 1px solid #fff;
    font-size: 5vh;
}

.sidebar-heading a {
    text-decoration: none;
    color: #caaa3c;
    font-size: 2.5vw;
}

/* The sidebar-content has sidebar-boards */
.sidebar-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    overflow-y: auto;
}

.sidebar-boards h2 {
    font-size: 2vw;
    margin-bottom: 2vh;
}

.sidebar-boards a {
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
}

/* All the boards are in the class "link" */
.link{
    padding: 1vh 0 1vh 0;
    transition: background-color 0.3s;
}

.link:hover{
    background-color: #0f3a35;
}

/*---------------------------------------------------------------------------*/
/* Main-content takes up all the leftover screen */
.main-content {
    flex: 1;
    font-family: 'Nunito Sans', sans-serif;
    background: #caaa3c;
    display: flex;
    flex-direction: column;
}